@import '../../../style.scss';
.app-sidebar-menu {
    display: block;
    .e-ul {
        .e-li {
            border-bottom: 1px solid $color_light_gray;
            height: $app_header_height;
            e-link {
                width: 100%;
            }
        }
    }
}