@import '../../../style.scss';
$width: $app_header_height * 6;
.article-index-list {
    background: white;
    height: 100%;
    width: $width;
    flex: 0 0 $width;
    &>header {
        height: $app_header_height * 0.8;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $hr_color;
        padding: 0 0.5rem;
        e-select {
            margin-left: auto;
        }
    }
    e-ul {
        e-li {
            border-bottom: 1px solid $hr_color;
            padding: 0.5rem 1rem 0.7rem;
            h6 {
                line-height: 2rem;
                font-size: 0.7rem;
            }
            p {
                font-size: 0.6rem;
            }
            .create-info,
            .article-info {
                display: flex;
                width: 100%;
            }
            .article-info {
                display: none;
            }
            &:hover {
                .article-info {
                    display: flex;
                }
                .create-info {
                    display: none;
                }
            }
        }
    }
}