// app level variables.
$app_background_color: #f7f7f7;
$app_header_height: 2.5rem;
$app_header_background_color: white;
$app_sidebar_background_color: white;
$transition_time: 0.3s;
$color_light_gray: #f1f1f1;
$color_gray: #aaa;
$color_light_black: #333;
$hr_color: #f1f1f1;