@import '../../../../style.scss';
.app-sidebar-nav {
    display: block;
    e-ul {
        e-li {
            display: flex;
            height: $app_header_height;
            align-items: center;
            color: #6d6d6d;
            overflow: hidden;
            e-icon {
                width: $app_header_height;
            }
            .title {
                display: flex;
                align-items: center;
            }
            .active {
                color: #d0cccc;
            }
        }
    }
}